
<h1>Profile Page</h1>
<br>

<h2><%=  @user.name %></h2>
<br>
    <h3>My Upcoming Gift Exchanges</h3>
    <br>
    <ul>
<% @user.events.distinct.each do |event|%>
<li><%= link_to event.name, event %></li>
<% end %>
</ul>
<% if @user.id == session[:user_id] %>

<br> <br>

<div class="buttons">
<%= button_to "Add Gift Exchange", new_event_path, method: :get %>


 <br>
<p><%= button_to "Edit your Profile", edit_user_path, method: :get %></p>
</div>
<% end %>
