<h1>Profile Page</h1>

<h3><%=  @user.name %></h3>

<div class="events-block">
    <h3>My Upcoming Gift Exchanges</h3>
    <br>
    <ul>
<% @user.events.distinct.each do |event|%>
<li><%= link_to event.name, event %></li>
<% end %>
</ul>
</div>
<% if @user.id == session[:user_id] %>
<br> <br>
<%= button_to "Add Gift Exchange", new_event_path, method: :get %>


<br> <br> <br>
<h4><%= link_to "Edit your Profile", edit_user_path %></h3>
<% end %>
