/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

nav{
    margin-bottom: 30px;
}

body{
    background-color: #D4D2D1;
    color: #56494E;
}

h1, h2, h3, h4, h5, p{
    padding-left: 20px;
}

.buttons{
    margin-left:20px;
}

ul{
    list-style: none;
    li{
        padding: 10px;
    }
}

a:link, a:visited{
    color: #585B5D;
}

a:hover{
    font-size: 103%;
    
}


